{% extends "base.html.twig" %}

{% block body %}

	{% if error == true %}
		<div class="pt-5" data-aos="fade-down" data-aos-duration="1000">
			<div class="col-lg-6 m-auto p-3 border shadow">
				<div class="text-danger font-weight-bold mx-auto">
					* Cet URL n'est pas valide. Veuillez cliquer sur ce lien et renseigner votre mail afin de recevoir un URL valide.
				</div>
				<div class="mt-3 col-12 text-center mx-auto">
					<a href="{{path('formEmailForgot')}}" class="text-primary">mot de passe oublié</a>
				</div>
			</div>
		</div>
	{% else %}
		<div class="pt-5" data-aos="fade-down" data-aos-duration="1000">
			<div class="col-lg-6 m-auto p-3 border shadow">
				<h1 class="h3 text-grey font-weight-bold">
					Changer de mot de passe
				</h1>
				{{ form_start(formPassword, {'attr': {'class': 'd-flex flex-column p-4'}}) }}
				{{ form_row( formPassword.password, {'attr': {'class': 'form-control mt-1'}, 'label': 'Mot de Passe'}) }}
				{{ form_row( formPassword.passwordConfirm, {'attr': {'class': 'form-control mt-1'}, 'label': 'Confirmation Mot de Passe'}) }}
				<button type="submit" class="btn btn-blue col-lg-6 mt-3 mx-auto">
					Valider
				</button>
				{{ form_end(formPassword)}}
				{% if error1 %}
					<div class="text-danger">Les mots de passes sont différents</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock %}
