{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="pt-5" data-aos="fade-down" data-aos-duration="1000">
		<div class="col-lg-6 m-auto p-3 border shadow">
			<div class="d-flex justify-content-center w-100">
				<img src="{{ asset('img/logo.png') }}" alt="workshop-barbershop" class="col-3 mx-auto p-2">
			</div>
			<h1 class="h3 text-grey font-weight-bold">Modifier son compte</h1>
			{{ form_start(form, {'attr': {'class': 'd-flex flex-column'}}
			) }}
			{{ form_row(form.email , {'attr': {'class': 'form-control mb-3'}, 'label' : 'Email'}
				) }}
			{{ form_row(form.name , {'attr': {'class': 'form-control mb-3'}, 'label' : 'Nom'}
				) }}
			{{ form_row(form.firstName , {'attr': {'class': 'form-control mb-3'}, 'label' : 'Prénom'}
				) }}
			{{ form_row(form.number , {'attr': {'class': 'form-control mb-3'}, 'label' : 'Numéro de Téléphone'}
				) }}
			<button class="btn btn-blue col-lg-6 mt-3 mx-auto" type="submit">
				Modifier mon compte
			</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
