{% extends 'base.html.twig' %}

{% block title %}Workshop Barbershop
{% endblock %}

{% block body %}
	<header class="masthead vh-100 border-wrapper">
		<div class="container d-flex justify-content-center">
			<img src="/img/logo.png" alt="workshop-barbershop-logo" height="300px" width="300px" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="0"/>
			<img src="/img/ciseaux.png" class="position-absolute cursor d-none d-lg-block" style="bottom:40px;" id="ciseaux" alt="workshop-barbershop-ciseaux" width="auto" height="80" href="#Service" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="0"/>
		</div>
	</header>
	<section id="presentation" class="page-section bg-presentation">
		<div class="text-center">
			<h2 class="section-heading text-white font-SHR text-uppercase" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="1000">Workshop Barbershop</h2>
			<h3 class="section-subheading text-white" data-aos="zoom-in">Mardi &#x2794; Samedi																															10h30&#x2794;19h30</h3>
		</div>
		<div class="col-lg-12 text-center mt-4">
			<div class="row d-flex justify-content-lg-around ">
				<div id="barber_div" class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0 mt-3">
					<a href="{{path('salon')}}" class="hoverWB">
						<img class="position-absolute clickHome" style="left:50%; top:25%; z-index:10;" align="center" src="/img/click.gif" alt="" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1000" width="10%">
						<img src="/img/salon.png" alt="salon-coiffure" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="500" width="70%">
					</a>
					<h4 class="my-3 text-grey font-SHR" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="1300">Le Salon</h4>
					<p class="text-muted text-justify" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
				</div>
				<div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-0 mt-3">
					<a href="{{path('coiffures')}}" class="hoverWB">
						<img class="position-absolute clickHome" style="left:50%; top:25%; z-index:10;" align="center" src="/img/click.gif" alt="" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1000" width="10%">
						<img src="/img/coiffure.jpg" alt="coiffure" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="500" width="70%" class="rounded-circle" width="50%">
					</a>
					<h4 class="my-3 text-grey font-SHR" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="1300">La coiffure</h4>
					<p class="text-muted text-justify" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="page-section bg-team target" id="team">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-grey font-SHR text-uppercase" data-aos="flip-left" data-aos-duration="1000">Les Coiffeurs</h2>
			</div>
			<div class="row justify-content-md-around">
				{% for coiffeur in coiffeurs %}
					<div class="col-lg-3 col-md-5 m-2">
						<div class="team-member">
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('coiffeur_edit', {'id': coiffeur.id}) }}">&#128394;</a>
								<a href="{{ path('coiffeur_delete', {'id': coiffeur.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer le coiffeur {{coiffeur.username}} ?')">&#128465;</a>
							{% endif %}
							<div class=" p-2 rounded-circle text-center">
								<div id="coiffeurCross_{{coiffeur.id}}" class="col-1 offset-8 rounded-circle bg-cross position-absolute p-0 mt-2 d-none cursor coiffeurCross">&#8553;</div>
								<img id="snapchatImage_{{coiffeur.id}}" src="{{ asset('uploads/coiffeurs/' ~ coiffeur.snap) }}" alt="snap-barber" class=" mx-auto d-none" align="center"/>
								<img id="coiffeurImage_{{coiffeur.id}}" class="mx-auto rounded-circle d-block" src="{{ asset('uploads/coiffeurs/' ~ coiffeur.file) }}" alt="" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1000"/>
							</div>
							<h4 class="font-SHR text-white" class="my-3 text-grey font-SHR" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="1300">{{coiffeur.username}}</h4>
							{% if coiffeur.snap != null %}
								<a id="{{coiffeur.id}}" class="btn btn-dark btn-social mx-2 snapIcone" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500">
									<i class="fab fa-snapchat btn-dark"></i>
								</a>
							{% endif %}
							{% if coiffeur.facebook != null %}
								<a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/iheb.graid.3" data-aos="fade-top" data-aos-duration="1000" data-aos-delay="1500">
									<i class="fab fa-facebook-f"></i>
								</a>
							{% endif %}
							{% if coiffeur.insta != null %}
								<a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/iheb.graid.3" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1500">
									<i class="fab fa-instagram"></i>
								</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				{% if is_granted('ROLE_ADMIN') %}
					<div class="col-lg-4 col-md-5 m-2 m-auto">
						<div class="team-member bg-grey addBtn rounded">
							<div class=" p-2 rounded-circle text-center" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1000">
								<a class="m-auto display-1 text-white" href="/index.php/admin/coiffeur">+</a>
							</div>
							<h4 class="font-SHR text-white" class="my-3 text-grey font-SHR" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="1300">Ajouter un coiffeur</h4>
						</div>
					</div>
				{% endif %}
			</div>
			{# <div class="row">
							<div class="col-lg-8 mx-auto text-center">
								<p class="large text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
							</div>
						</div> #}
		</div>
	</section>
	<section class="page-section bg-fonce target" id="contact">
		<h2 class="section-heading text-grey font-SHR text-uppercase text-center">Contact</h2>
		<div class='bg-phone mx-auto mt-5 d-flex flex-column' style="width:221px;">
			<div>&nbsp;</div>
			<div id="dateTime" class="col-12 text-center text-white mt-4" style="font-size:40px;"></div>
			<div id="phoneNumber" class="col-8 mx-auto rounded iphone-notif p-2 mt-3" data-aos="fade-left">
				<a class="d-flex hover-white align-items-center text-grey" href="tel:0622391320">
					<img src="{{ asset('img/appel-icone.png') }}" alt="workshop-barbershop-icone" width="20px" height="20px">
					<div class=" p-2 mt-20px font-weight-bold" style="font-size:12px;">06 22 39 13 20</div>
				</a>
			</div>
			<div id="address" class="col-8 mx-auto rounded iphone-notif p-2 mt-2" data-aos="fade-left" data-aos-delay="500">
				<a class="d-flex hover-white align-items-center text-grey" href="http://www.google.com/maps/dir//workshop-barbershop/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x47f4e994026d8173:0x3da2b1d6dad41eb8?sa=X">
					<img src="{{ asset('img/adresse-icone.png') }}" alt="workshop-barbershop-icone" width="20px" height="20px">
					<div class=" p-2 mt-auto font-weight-bold">85 Boulevard Emile Zola, 69600 Oullins</div>
				</a>
			</div>
			<div id"socialnetworks" class="col-8 mx-auto rounded iphone-notification p-2 mt-2" data-aos="fade-left" data-aos-delay="700">
				<div class="d-flex justify-content-around">
					<a href="https://www.instagram.com/?hl=fr">
						<img src="{{ asset('img/insta-logo.jpg') }}" alt="insta-workshop-barbershop" width="20px" height="20px">
					</a>
					<div id="coiffeurCross_snap-wb" class="col-1 offset-8 rounded-circle bg-cross position-absolute p-0 mt-2 d-none cursor coiffeurCross">&#8553;</div>
					<img id="snapchatImage_snap-wb" src="{{ asset('img/snap-wb.png') }}" alt="snap-barber" class=" mx-auto d-none" align="center" width="140px" height="140px"/>
					<img id="snap-wb"src="{{ asset('img/snap-logo.png') }}" class="cursor snapIcone" alt="snap-workshop-barbershop" width="20px" height="20px">
				</div>
			</div>
			<div style="height:200px;">&nbsp;</div>
		</div>
	</section>
	<footer class="footer py-4">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 mx-auto text-center">Copyright © workshop-barbershop 2020</div>
			</div>
		</div>
	</footer>
	<script></script>
{% endblock %}

{% block javascripts %}
	<script language="javascript" src="/js/home.js"></script>
{% endblock %}
