<div class="col-lg-10 offset-1 bg-fonce d-none d-md-block d-lg-block">
	<div class="col-6 offset-3 text-white text-center font-weight-bold border-bottom mb-2">Planning
		<br>
		{{coiffeur.username}}</div>
	<div class="row">
		<div class="col-1 d-flex align-items-center"><img src="{{ asset('img/icons8-chevron-gauche-96.png') }}" alt="" id="left" class="cursor"/></div>
		<div id="block" class="col-lg-10 d-flex horizontal-scrollable bg-fonce font-weight-bold text-white p-2">
			{% set continue = false %}
			{% for dates in aDate %}
				{% if "Dimanche" in dates.dateFr or "Lundi" in dates.dateFr or (today == dates.dateData and lastHour < now ) %}
					{% set continue = true %}
				{% endif %}
				{% if not continue %}
					<div class="col-3 d-flex flex-column h-100 text-center">
						<div>
							{{dates.dateFr}}
						</div>
						{% for rdv, hour in dates.hour %}
							<form action="/reservation/create" enctype="multipart/form-data" class="formReservation" method="POST">
								<div class="row col-12 p-0 m-0">
									<div style="display: none;">
										<input class="col-lg-12 p-2 animated border" value='{{coiffeur.id}}' type="number" name="coiffeur" required="required"/>
									</div>
									<div style="display: none;">
										<input class="col-lg-12 p-2 animated border" value="{{rdv}}" type="text" name="date"/>
									</div>
									{% if today == dates.dateData and timeReservation > hour and is_granted('ROLE_ADMIN') == false %}
										<div class="d-none">{{hour}}</div>
									{% elseif dates.dateData in indispos %}
										<div class="col-6 offset-3 input cursor-forbidden" style="text-decoration: line-through; padding: 3px 6px; border-color: rgb(118, 118, 118), rgb(195, 195, 195);">{{hour}}</div>
									{% elseif rdv in reservations %}
										{% if is_granted('ROLE_ADMIN') %}
											<div id="{{coiffeur.id}}_{{rdv}}" class="col-6 offset-3 bg-primary rounded text-white border font-weight-normal adminReservation">{{hour}}
												<div id="user_request" class='d-flex flex-column'></div>
												<div id="{{coiffeur.id}}_{{rdv}}" class="bg-danger rounded text-white border font-weight-normal cursor adminDeleteReservation">Suppr</div>
											</div>
										{% else %}
											<div class="col-6 offset-3 bg-danger rounded text-white border font-weight-normal cursor-forbidden">{{hour}}</div>
										{% endif %}
									{% else %}
										<input type="submit" name="valide" value="{{hour}}" class="col-6 offset-3 hoverBgBlue"/>
									{% endif %}
								</div>
							</form>
						{% endfor %}
						{% if is_granted('ROLE_ADMIN')%}
							{% if dates.dateData in indispos %}
								<div id="{{coiffeur.id}}_{{dates.dateData}}" class="bg-primary m-2 p-2 rounded text-white border font-weight-normal cursor adminDisponibleCoiffeur">Disponible</div>
							{% else %}
								<div id="{{coiffeur.id}}_{{dates.dateData}}" class="bg-danger m-2 p-2 rounded text-white border font-weight-normal cursor adminIndisponibleCoiffeur">Indisponible</div>
							{% endif %}
						{% endif %}
					</div>
				{% endif %}
				{% if continue %}
					{% set continue = false %}
				{% endif %}
			{% endfor %}
		</div>
		<div id="right" class="col-1 d-flex align-items-center mh-auto text-center cursor"><img src="{{ asset('img/icons8-chevron-droit-96.png') }}" alt="" weight="100" height="auto"/></div>
	</div>
</div>

{# PhoneView #}
<div class="bg-fonce d-block d-md-none d-lg-none">
	<div class="col-6 offset-3 text-white text-center font-weight-bold">Planning
		<br>
		{{coiffeur.username}}</div>
	<div id="block" class="col-12 d-flex flex-wrap justify-content-around bg-fonce font-weight-bold text-grey p-2">
		{% set continue = false %}
		{% for dates in aDate %}
			{% if "Dimanche" in dates.dateFr or "Lundi" in dates.dateFr or (today == dates.dateData and lastHour < now ) %}
				{% set continue = true %}
			{% endif %}
			{% if not continue %}
				<div id="dayPhone_{{dates.dateData}}" class="col-3 m-2 d-flex flex-wrap justify-content-around border rounded bg-white text-center p-0 dayPhoneRdv">
					<div id="{{dates.dateData}}" class="col-12 dataPhone">
						{{dates.dateFr}}
					</div>
					{% for rdv, hour in dates.hour %}
						<form id="form" action="/reservation/create" enctype="multipart/form-data" class="formReservation col-3 p-0 m-1" method="POST">
							<div class="hourPhoneRdv row col-12 p-0 m-1 d-none">
								<div style="display: none;">
									<input class="col-lg-12 p-2 animated border" value='{{coiffeur.id}}' type="number" name="coiffeur" required="required"/>
								</div>
								<div style="display: none;">
									<input class="col-lg-12 p-2 animated border" value="{{rdv}}" type="text" name="date"/>
								</div>
								{% if today == dates.dateData and timeReservation > hour and is_granted('ROLE_ADMIN') == false %}
									<div class="d-none">{{hour}}</div>
								{% elseif dates.dateData in indispos %}
									<div class="col-6 offset-3 input cursor-forbidden" style="text-decoration: line-through; padding: 3px 6px; border-color: rgb(118, 118, 118), rgb(195, 195, 195);">{{hour}}</div>
								{% elseif rdv in reservations %}
									{% if is_granted('ROLE_ADMIN') %}
										<div id="{{coiffeur.id}}_{{rdv}}" class="p-2 bg-primary rounded text-white border font-weight-normal adminReservation">{{hour}}
											<div id="user_request" class='d-flex flex-column bg-white text-grey text-break font-weight-bold'></div>
											<div id="{{coiffeur.id}}_{{rdv}}" class="bg-danger rounded text-white border font-weight-normal cursor adminDeleteReservation">Suppr</div>
										</div>
									{% else %}
										<div class="bg-danger rounded text-white border font-weight-normal cursor-forbidden mt-2" style="padding:3px 4px;">{{hour}}</div>
									{% endif %}
								{% else %}
									<input type="submit" name="valide" value="{{hour}}" class="col-12 m-1 hoverBgBlue"/>
								{% endif %}
							</div>
						</form>
					{% endfor %}
					{% if is_granted('ROLE_ADMIN')%}
						{% if dates.dateData in indispos %}
							<div id="{{coiffeur.id}}_{{dates.dateData}}" class="bg-primary p-2 rounded text-white border font-weight-normal cursor adminDisponibleCoiffeur">Dispo</div>
						{% else %}
							<div id="{{coiffeur.id}}_{{dates.dateData}}" class="bg-danger p-2 rounded text-white border font-weight-normal cursor adminIndisponibleCoiffeur">Indispo</div>
						{% endif %}
					{% endif %}
				</div>
			{% endif %}
			{% if continue %}
				{% set continue = false %}
			{% endif %}
		{% endfor %}
	</div>
</div>
