{% extends 'base.html.twig' %}

{% block title %}Hello CoiffureController!
{% endblock %}

{% block body %}
	<div class="pt-5" data-aos="fade-down" data-aos-duration="1000">
		<div class="col-lg-6 m-auto p-3 border shadow">
			<h1 class="h3 text-grey font-weight-bold text-center col-12 mb-4">Ajouter une présentation</h1>
			{{ form_start(form, {'attr': {'class': 'd-flex flex-column'}}) }}
			{{ form_row(form.file, {'attr': {'class': 'form-control mt-1 mb-3 border-0'},'label' : false}) }}
			{{ form_row(form.type, {'attr': {'class': 'form-control mt-1 md-1 mb-3'}, 'label' : 'Catégorie du fichier'}) }}
			{{ form_row(form.format, {'attr': {'class': 'form-control mt-1 md-1 mb-4'}, 'label' : 'Format du fichier'}) }}
			{% if editMode %}
				<div class="row justify-content-center">
					<button class="btn btn-blue col-lg-6 mt-3 mx-auto" type="submit">
						Modifier
					</button>
				</div>
				<div class="border-top mt-3 d-flex justify-content-center">
					<img src="{{ asset('uploads/presentation/' ~ presentation.file) }}" width="50%" alt="">
				</div>
			{% else %}
				<div class="row justify-content-center">
					<button class="btn btn-blue col-lg-6 mt-3 mx-auto" type="submit">
						Ajouter
					</button>
				</div>
			{% endif %}
			{{ form_end(form)}}
		</div>
	</div>
{% endblock %}
